@font-face {
  font-family: 'entypo-social';
  src: url("../font/entypo-social.eot");
  src: url("../font/entypo-social.eot?#iefix") format("embedded-opentype"), url("../font/entypo-social.woff") format("woff"), url("../font/entypo-social.ttf") format("truetype"), url("../font/entypo-social.svg#entypo-social") format("svg");
  font-weight: normal;
  font-style: normal;
}

@-moz-keyframes rotate-in {
  /* line 16, ../scss/main.scss */
  0% {
    opacity: 0;
    -moz-transform: rotateY(-90deg) rotateZ(-40deg);
    transform: rotateY(-90deg) rotateZ(-40deg);
  }

  /* line 20, ../scss/main.scss */
  100% {
    opacity: 100;
    -moz-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
}

@-webkit-keyframes rotate-in {
  /* line 16, ../scss/main.scss */
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) rotateZ(-40deg);
    transform: rotateY(-90deg) rotateZ(-40deg);
  }

  /* line 20, ../scss/main.scss */
  100% {
    opacity: 100;
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
}

@-o-keyframes rotate-in {
  /* line 16, ../scss/main.scss */
  0% {
    opacity: 0;
    -o-transform: rotateY(-90deg) rotateZ(-40deg);
    transform: rotateY(-90deg) rotateZ(-40deg);
  }

  /* line 20, ../scss/main.scss */
  100% {
    opacity: 100;
    -o-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
}

@keyframes rotate-in {
  /* line 16, ../scss/main.scss */
  0% {
    opacity: 0;
    transform: rotateY(-90deg) rotateZ(-40deg);
  }

  /* line 20, ../scss/main.scss */
  100% {
    opacity: 100;
    transform: rotateY(0deg) rotateZ(0deg);
  }
}

/* line 26, ../scss/main.scss */
* {
  -webkit-font-smoothing: antialiased;
}

/* line 30, ../scss/main.scss */
body {
  background-color: #1b1a18;
  font-family: "Open Sans", sans-serif;
  color: white;
}

/* line 36, ../scss/main.scss */
a {
  text-decoration: none;
}

/* line 40, ../scss/main.scss */
hgroup {
  -webkit-animation: rotate-in 0.6s;
  -moz-animation: rotate-in 0.6s;
  -o-animation: rotate-in 0.6s;
  animation: rotate-in 0.6s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-weight: normal;
  margin-top: 10%;
}

/* line 48, ../scss/main.scss */
img {
  -webkit-animation: rotate-in 1s ease-out;
  -moz-animation: rotate-in 1s ease-out;
  -o-animation: rotate-in 1s ease-out;
  animation: rotate-in 1s ease-out;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
}

/* line 53, ../scss/main.scss */
h1, h2 {
  margin: 0;
  font-weight: 400;
  color: white;
}

/* line 58, ../scss/main.scss */
h1 {
  margin-top: 5px;
  font-size: 1.5em;
  font-weight: 300;
}

/* line 64, ../scss/main.scss */
h2 {
  font-size: 1em;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin-top: .1em;
}

/* line 72, ../scss/main.scss */
hgroup:hover, hgroup:focus {
  text-shadow: 0 0 14px rgba(255, 255, 255, 0.4);
}

/* line 77, ../scss/main.scss */
.info {
  -webkit-animation: rotate-in 0.6s;
  -moz-animation: rotate-in 0.6s;
  -o-animation: rotate-in 0.6s;
  animation: rotate-in 0.6s;
  margin-top: 30px;
  text-align: center;
  height: 50px;
}
/* line 83, ../scss/main.scss */
.info a {
  line-height: 0;
  font-size: 0;
  color: transparent;
}
/* line 89, ../scss/main.scss */
.info span {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin: 0 10px;
  color: gray;
}
/* line 95, ../scss/main.scss */
.info a:hover span, .info a:focus span {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* line 103, ../scss/main.scss */
.icon {
  font: 60px 'entypo-social';
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/* line 108, ../scss/main.scss */
.icon-twitter {
  content: "";
}

@media screen and (min-width: 321px) {
  /* line 114, ../scss/main.scss */
  h1 {
    font-size: 2.4em;
  }

  /* line 118, ../scss/main.scss */
  h2 {
    font-size: 1.2em;
  }
}
