/* line 3, ../scss/main.scss */
body {
  background-color: #262626;
  font-family: "Open Sans", sans-serif;
  color: white;
}

/* line 9, ../scss/main.scss */
hgroup {
  text-align: center;
  font-weight: normal;
}

/* line 14, ../scss/main.scss */
img {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 18, ../scss/main.scss */
hgroup:hover img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 23, ../scss/main.scss */
hgroup {
  margin-top: 10%;
}

/* line 27, ../scss/main.scss */
h1, h2 {
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  margin: 0;
  font-weight: 300;
}

/* line 33, ../scss/main.scss */
h1 {
  margin-top: 5px;
  font-size: 1.8em;
}

/* line 38, ../scss/main.scss */
h2 {
  font-size: 1.4em;
  font-style: italic;
}

/* line 43, ../scss/main.scss */
.info {
  margin-top: 30px;
  text-align: center;
  height: 50px;
}
/* line 48, ../scss/main.scss */
.info a {
  line-height: 0;
  font-size: 0;
  text-decoration: none;
  color: transparent;
}
/* line 55, ../scss/main.scss */
.info span {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 28px;
  margin: 0 10px;
  color: gray;
}
/* line 62, ../scss/main.scss */
.info a:visited span {
  color: #4d4d4d;
}
/* line 66, ../scss/main.scss */
.info a:hover span {
  color: white;
}

@media screen and (min-width: 321px) {
  /* line 73, ../scss/main.scss */
  h1 {
    font-size: 2.6em;
  }

  /* line 77, ../scss/main.scss */
  h2 {
    font-size: 1.5em;
  }

  /* line 81, ../scss/main.scss */
  .info {
    margin-top: 50px;
  }
  /* line 84, ../scss/main.scss */
  .info span {
    font-size: 56px;
    margin: 0 15px;
  }
}
