@import "compass";

@font-face {
    font-family: 'entypo-social';
    src: url('../font/entypo-social.eot');
    src: url('../font/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../font/entypo-social.woff') format('woff'),
         url('../font/entypo-social.ttf') format('truetype'),
         url('../font/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}


@include keyframes(rotate-in) {
  0% { 
    @include opacity(0);
    @include transform(rotateY(-90deg) rotateZ(-40deg)); 
  }
  100% { 
    @include opacity(100);
    @include transform(rotateY(0deg) rotateZ(0deg)); 
  }
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: hsl(30, 4%, 10%); 
  font-family: "Open Sans", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

hgroup {
  @include animation(rotate-in .6s);
  @include transition(all .3s);
  text-align: center;
  font-weight: normal;
  margin-top: 10%;
}

img {
  @include animation(rotate-in 1s ease-out);
  @include border-radius(1000px);
}

h1, h2 {
  margin: 0;
  font-weight: 400;
  color: white;}

h1 {
  margin-top: 5px;
  font-size: 1.5em;
  font-weight: 300;
}

h2 {
  font-size: 1em;
  color: hsl(0,0,60%);
  text-transform: uppercase;
  letter-spacing: .3em;
  margin-top: .1em;
}

hgroup:hover, hgroup:focus {
  @include text-shadow(0 0 14px rgba(white, .4));
}


.info {
  @include animation(rotate-in .6s);
  margin-top: 30px;
  text-align: center;
  height: 50px;

  a {
    line-height: 0; 
    font-size: 0;
    color: transparent; 
  }

  span {
    @include transition(all .2s);
    margin: 0 10px;
    color: hsl(0,0%,50%);
  }

  a:hover span, a:focus span {
    color: white;
    @include text-shadow(0 0 10px rgba(white, .3));
  }

}


.icon {
  font: 60px 'entypo-social';
  @include text-shadow(0 1px 5px rgba(black, .2))
}

.icon-twitter {
  content: ""
}


@media screen and (min-width: 321px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 1.2em;
  }
}

